{% extends "base.html" %}

{% block head %}
<title>test</title>
{% endblock %}


{% block body %}


<section class="container-fluid">
    <div>
        <p class="h2 text-center pt-4 fw-bold"> OUR COURCES</p>
        <!-- <div class="card">
            <div class="card-body">
                {% for i in range(20)|batch(5) %}
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active bg-dark m-3">
                            <div class="row">
                                <div class="col">
                                    {% for course in courses %}
                                    <div class="card border-3 border border-dark rounded m-lg-2" style="width: 18rem;">
                                        <img src="{{ course['course_img'] }}" class="bg-danger card-img-top"
                                            style="height: 100px; width: auto;" alt="Course Image">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ course['course_name'] }}</h5>
                                            <p class="card-text">{{ course['course_desc'] }}</p>
                                            <p class="card-text">Amount: ${{ course['course_amount'] }}</p>
                                            <p class="card-text">Class: {{ course['course_class'] }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div> -->
        

    </div>
</section>





{% endblock %}