{% extends "base.html" %}

{% block head %}

<title>Sidekick</title>

{% endblock %}

{% block body %}
<div class="banner">
  <div class="container">
    <h2 class="font-weight-semibold pt-3">Elevating Your Journey With<br>Sidekick</h2>
    <h6 class="font-weight-normal text-muted pb-3">Unlocking Possibilities: Your All-in-One Software Solution with
      Innovative Design to Overcome Every Obstacle.</h6>
    <div>
      <a href="{{ url_for('starter') }}"><button class="btn btn-opacity-light mr-1">Get started</button></a>
      <button class="btn btn-opacity-success ml-1">Learn more</button>
    </div>
    <img src="{{url_for('static', filename='/Images/Group171.svg')}}" alt="" class="img-fluid">
  </div>
</div>
<div class="content-wrapper">
  <div class="container">
    <section class="case-studies" id="case-studies-section">
      <div class="row grid-margin">
        <div class="col-12 text-center pb-5">
          <h2>Our Prime Services</h2>
          <h6 class="section-subtitle text-muted">We Belive in Creating, Quality Product that add Value to your
            Business.</h6>
        </div>
        <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
          <div class="card color-cards">
            <div class="card-body p-0">
              <div class="bg-primary text-center card-contents">
                <div class="card-image">
                  <img src="{{ url_for('static', filename='images/Group95.svg') }}" class="case-studies-card-img"
                    alt="">
                </div>
                <div class="card-desc-box d-flex align-items-center justify-content-around">
                  <div>
                    <h6 class="text-white pb-2 px-3">Know more about Online M</h6>
                    <button class="btn btn-white">Read More</button>
                  </div>
                </div>
              </div>
              <div class="card-details text-center pt-4">
                <h6 class="m-0 pb-1">Online Marketing</h6>
                <p>Seo, Marketing</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="card color-cards">
            <div class="card-body p-0">
              <div class="bg-warning text-center card-contents">
                <div class="card-image">
                  <img src="{{ url_for('static', filename='images/Group108.svg') }}" class="case-studies-card-img"
                    alt="">
                </div>
                <div class="card-desc-box d-flex align-items-center justify-content-around">
                  <div>
                    <h6 class="text-white pb-2 px-3">Know more about Web Development</h6>
                    <button class="btn btn-white">Read More</button>
                  </div>
                </div>
              </div>
              <div class="card-details text-center pt-4">
                <h6 class="m-0 pb-1">Web Development</h6>
                <p>Developing, Designing</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="card color-cards">
            <div class="card-body p-0">
              <div class="bg-violet text-center card-contents">
                <div class="card-image">
                  <img src="{{ url_for('static', filename='images/Group126.svg') }}" class="case-studies-card-img"
                    alt="">
                </div>
                <div class="card-desc-box d-flex align-items-center justify-content-around">
                  <div>
                    <h6 class="text-white pb-2 px-3">Know more about Web Designing</h6>
                    <button class="btn btn-white">Read More</button>
                  </div>
                </div>
              </div>
              <div class="card-details text-center pt-4">
                <h6 class="m-0 pb-1">Web Designing</h6>
                <p>Designing, Developing</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 stretch-card" data-aos="zoom-in" data-aos-delay="600">
          <div class="card color-cards">
            <div class="card-body p-0">
              <div class="bg-success text-center card-contents">
                <div class="card-image">
                  <img src="{{ url_for('static', filename='images/Group115.svg') }}" class="case-studies-card-img"
                    alt="">
                </div>
                <div class="card-desc-box d-flex align-items-center justify-content-around">
                  <div>
                    <h6 class="text-white pb-2 px-3">Know more about Software Development</h6>
                    <button class="btn btn-white">Read More</button>
                  </div>
                </div>
              </div>
              <div class="card-details text-center pt-4">
                <h6 class="m-0 pb-1">Software Development</h6>
                <p>Developing, Designing</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="features-overview" id="features-section">
      <div class="content-header">
        <h2>How does it works</h2>
        <h6 class="section-subtitle text-muted">One theme that serves as an easy-to-use operational toolkit<br>that
          meets customer's needs.</h6>
      </div>
      <div class="d-md-flex justify-content-between">
        <div class="grid-margin d-flex justify-content-start">
          <div class="features-width">
            <img src="{{ url_for('static', filename='images/Group12.svg') }}" alt="" class="img-icons">
            <h5 class="py-3">Speed<br>Optimisation</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis,
              suspendisse.</p>
            <a href="#">
              <p class="readmore-link">Readmore</p>
            </a>
          </div>
        </div>
        <div class="grid-margin d-flex justify-content-center">
          <div class="features-width">
            <img src="{{ url_for('static', filename='images/Group7.svg') }}" alt="" class="img-icons">
            <h5 class="py-3">SEO and<br>Backlinks</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis,
              suspendisse.</p>
            <a href="#">
              <p class="readmore-link">Readmore</p>
            </a>
          </div>
        </div>
        <div class="grid-margin d-flex justify-content-end">
          <div class="features-width">
            <img src="{{ url_for('static', filename='images/Group5.svg') }}" alt="" class="img-icons">
            <h5 class="py-3">Content<br>Marketing</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis,
              suspendisse.</p>
            <a href="#">
              <p class="readmore-link">Readmore</p>
            </a>
          </div>
        </div>
      </div>
    </section> -->
    <section class="digital-marketing-service" id="digital-marketing-section">
      <div class="row align-items-center">
        <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
          <h3 class="m-0">We Offer a Full Range<br>of Digital Marketing Services!</h3>
          <div class="col-lg-7 col-xl-6 p-0">
            <p class="py-4 m-0 text-muted">A strong online presence is crucial for business success.</p>
            <p class="font-weight-medium text-muted">Our digital marketing services are designed to help you navigate
              this dynamic environment and achieve your goals effectively.</p>
          </div>
        </div>
        <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
          <img src="{{ url_for('static', filename='images/Group1.png') }}" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
          <img src="{{ url_for('static', filename='images/Group2.png') }}" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
          <h3 class="m-0">Leading Digital Agency<br>for Business Solution.</h3>
          <div class="col-lg-9 col-xl-8 p-0">
            <p class="py-4 m-0 text-muted">Power-packed with impressive features and well-optimized, this template is
              designed to provide the best performance in all circumstances.</p>
            <p class="pb-2 font-weight-medium text-muted">Its smart features make it a powerful stand-alone website
              building tool.</p>
          </div>
          <button class="btn btn-info">Readmore</button>
        </div>
      </div>
    </section>
    <section class="customer-feedback" id="feedback-section">
      <div class="row">
        <div class="col-12 text-center pb-5">
          <h2>Our Projects</h2>
          <h6 class="section-subtitle text-muted m-0">We build our projects With Quality testing.</h6>
        </div>
        <div class="owl-carousel owl-theme grid-margin">

          <a href="{{ url_for('project') }}">
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <!-- <img src="images/face2.jpg" width="89" height="89" alt="" class="img-customer"> -->
                  <img width="66" height="66" src="https://img.icons8.com/dusk/64/movie-projector.png"
                    alt="movie-projector" />
                  <p class="m-0 py-3 text-muted">A Beautyful Movie Streaming Website designed and Developed by our Web
                    Devlopment Team.</p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Movie Streaming Website</h6>
                  <h6 class="customer-designation text-muted m-0">Web Development</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="{{ url_for('project') }}">
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <!-- <img src="images/face3.jpg" width="89" height="89" alt="" class="img-customer"> -->
                  <img width="66" height="66" src="https://img.icons8.com/clouds/100/sedan.png" alt="sedan" />
                  <p class="m-0 py-3 text-muted">Self Driving Car can be future, Using Artificial Neural Networ
                    Algorithm
                    we Created Self Driving Software.</p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Self Driving Automobile</h6>
                  <h6 class="customer-designation text-muted m-0">Machine Learning</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="{{ url_for('project') }}">
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <!-- <img src="images/face20.jpg" width="89" height="89" alt="" class="img-customer"> -->
                  <img width="66" height="66" src="https://img.icons8.com/color/96/online--v1.png" alt="online--v1" />
                  <p class="m-0 py-3 text-muted">Online Acadmic Exams are common nowadays and security and support are
                    provided.</p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Online Exam System</h6>
                  <h6 class="customer-designation text-muted m-0">Web Devlopment</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="{{ url_for('project') }}">
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <!-- <img src="images/face15.jpg" width="89" height="89" alt="" class="img-customer"> -->
                  <img width="66" height="66" src="https://img.icons8.com/plasticine/100/warehouse-1.png"
                    alt="warehouse-1" />
                  <p class="m-0 py-3 text-muted">Fulfiling Huge and small Business need by managing their Stocks and
                    Inventory .</p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Inventory Management</h6>
                  <h6 class="customer-designation text-muted m-0">Python Devlopment</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="{{ url_for('project') }}">
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <!-- <img src="images/face16.jpg" width="89" height="89" alt="" class="img-customer"> -->
                  <img width="66" height="66" src="https://img.icons8.com/bubbles/100/car.png" alt="car" />
                  <p class="m-0 py-3 text-muted">Machine Learning Model designed to Predict sales of cars based on
                    previous year data.</p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Car Sales Model</h6>
                  <h6 class="customer-designation text-muted m-0">Machine Learning</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="{{ url_for('project') }}">
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <!-- <img src="images/face1.jpg" width="89" height="89" alt="" class="img-customer"> -->
                  <img width="66" height="66"
                    src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-food-delivery-food-delivery-flaticons-lineal-color-flat-icons-9.png"
                    alt="external-food-delivery-food-delivery-flaticons-lineal-color-flat-icons-9" />
                  <p class="m-0 py-3 text-muted">Food Delivery Web app developed in HTML and Bootstrap with Amazing CSS
                    and java script integration.</p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Foodie India</h6>
                  <h6 class="customer-designation text-muted m-0">Web Devlopment</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="{{ url_for('project') }}">
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <!-- <img src="images/face2.jpg" width="89" height="89" alt="" class="img-customer"> -->
                  <img width="66" height="66" src="https://img.icons8.com/fluency/96/voice-id.png" alt="voice-id" />
                  <p class="m-0 py-3 text-muted">Cutting-edge AI accurately converts spoken language into text with
                    remarkable precision and speed.</p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Voice Recognition AI</h6>
                  <h6 class="customer-designation text-muted m-0">Python Project</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="{{ url_for('project') }}">
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <!-- <img src="https://icons8.com/icon/mfKghnGVivdt/business-analyst" width="89" height="89" alt="" class="img-customer"> -->
                  <img width="66" height="66"
                    src="https://img.icons8.com/external-smashingstocks-outline-color-smashing-stocks/66/external-business-analyst-ecommerce-and-delivery-smashingstocks-outline-color-smashing-stocks.png"
                    alt="external-business-analyst-ecommerce-and-delivery-smashingstocks-outline-color-smashing-stocks" />
                  <p class="m-0 py-3 text-muted">Data-driven insights optimizing strategies for informed decisions,
                    fostering growth and efficiency.</p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Business Analytics</h6>
                  <h6 class="customer-designation text-muted m-0">Machine Learning</h6>
                </div>
              </div>
            </div>
          </a>
          <a href="{{ url_for('project') }}">
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <!-- <img src="images/face20.jpg" width="89" height="89" alt="" class="img-customer"> -->
                  <img width="66" height="66" src="https://img.icons8.com/fluency/96/organic-food.png"
                    alt="organic-food" />
                  <p class="m-0 py-3 text-muted">Optimizing cultivation through tech for efficient, sustainable, and
                    profitable Agricultural Management.</p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Agricultural Management</h6>
                  <h6 class="customer-designation text-muted m-0">Web Devlopment</h6>
                </div>
              </div>
            </div>
          </a>
          
        </div>
      </div>
    </section>
    <section class="contact-us" id="contact-section">
      <div class="contact-us-bgimage grid-margin">
        <div class="pb-4">
          <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Do you have any projects?</h4>
          <h4 class="pt-1" data-aos="fade-down">Contact us</h4>
        </div>
        <div data-aos="fade-up">
          <a href="{{ url_for('contact') }}">
            <button class="btn btn-rounded btn-outline-danger">Contact us</button>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}